<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._CFG_" version="1.0.7272.42050" targetFramework="net472" />
  <package id="_nilnul_._LIB_" version="1.0.7440.30211" targetFramework="net472" />
  <package id="_nilnul_._LINQ_" version="1.0.7439.20870" targetFramework="net472" />
  <package id="AE.Net.Mail" version="1.7.10.0" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="2.10.1" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="johnHurliman.math._calculus_._LIB_" version="1.0.1" targetFramework="net472" />
  <package id="MathNet.Iridium" version="1.0.1.32096" targetFramework="net472" />
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.Msagl" version="1.1.3" targetFramework="net472" />
  <package id="Microsoft.Msagl.Drawing" version="1.1.3" targetFramework="net472" />
  <package id="miroslavStampar.math._calculus_._LIB_" version="1.0.0" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.1.1" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="nilnul._acc_._LIB_" version="2.0.7425.35362" targetFramework="net472" />
  <package id="nilnul._acc_._LINQ_" version="1.0.7425.35348" targetFramework="net472" />
  <package id="nilnul._bit_._LIB_" version="1.0.7342.33919" targetFramework="net472" />
  <package id="nilnul._character_._LIB_" version="2.0.7433.34403" targetFramework="net472" />
  <package id="nilnul._data_._LIB_" version="1.0.7403.39320" targetFramework="net472" />
  <package id="nilnul._edu_._LIB_" version="1.0.1" targetFramework="net472" />
  <package id="nilnul._email_._LIB_" version="1.0.7409.22727" targetFramework="net472" />
  <package id="nilnul._fs_._LIB_" version="2.0.7438.22113" targetFramework="net472" />
  <package id="nilnul._geometry_._LIB_" version="1.0.7426.37735" targetFramework="net472" />
  <package id="nilnul._human_._LIB_" version="1.0.7078.2187" targetFramework="net472" />
  <package id="nilnul._human_._LINQ_" version="1.0.7225.36394" targetFramework="net472" />
  <package id="nilnul._lang_._LIB_" version="1.0.6962.27014" targetFramework="net472" />
  <package id="nilnul._linq_._LIB_" version="1.0.6928.36726" targetFramework="net472" />
  <package id="nilnul._num_._LIB_" version="1.0.7442.25783" targetFramework="net472" />
  <package id="nilnul._num_._LINQ_" version="1.0.7441.42818" targetFramework="net472" />
  <package id="nilnul._obj_._LIB_" version="1.0.7439.28543" targetFramework="net472" />
  <package id="nilnul._rel_._LIB_" version="1.0.7420.36598" targetFramework="net472" />
  <package id="nilnul._set_._LIB_" version="1.0.7442.42317" targetFramework="net472" />
  <package id="nilnul._stat_._LIB_" version="1.0.7442.3223" targetFramework="net472" />
  <package id="nilnul._time_._LIB_" version="1.0.7282.35571" targetFramework="net472" />
  <package id="nilnul._txt_._LIB_" version="1.0.7442.25865" targetFramework="net472" />
  <package id="nilnul._web_._LIB_" version="1.0.7438.23342" targetFramework="net472" />
  <package id="nilnul._win_._LIB_" version="1.0.7419.24365" targetFramework="net472" />
  <package id="nilnul.blob_._excel_._LIB_" version="1.0.7413.1826" targetFramework="net472" />
  <package id="nilnul.geometry._planar_._LIB_" version="1.0.7441.1091" targetFramework="net472" />
  <package id="nilnul.math._calculus_._LIB_" version="1.0.6756.4458" targetFramework="net472" />
  <package id="nilnul.num._integer_._LIB_" version="1.0.7423.19709" targetFramework="net472" />
  <package id="nilnul.num._quotient_._LIB_" version="1.0.7442.2557" targetFramework="net472" />
  <package id="nilnul.num._real_._LIB_" version="2.0.7441.43171" targetFramework="net472" />
  <package id="nilnul.num.real._func_._LIB_" version="1.0.2" targetFramework="net472" />
  <package id="nilnul.num.real._matrix_._LIB_" version="1.0.7319.40844" targetFramework="net472" />
  <package id="nilnul.rel._graph_._LIB_" version="1.0.7414.41588" targetFramework="net472" />
  <package id="nilnul.set._discrete_._LIB_" version="1.0.6873.37823" targetFramework="net472" />
  <package id="nilnulCom._email_._LIB_" version="1.1.7295.23743" targetFramework="net472" />
  <package id="sergeyBochkanov._alglib_._LIB_" version="1.0.1" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Packaging" version="4.7.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>